.checkbox {
  padding: 0;
}

.icon-remove-circle {
  color: orangered;
  cursor: pointer;
  padding-right: 10px;
}

.files-qty {
  display: none;
}

.wang-editor-toolbar {
  border-bottom: 1px solid #ccc;
}

p.none-file {
  margin: 5px 0 0 0;
}

#cancel-comment-edit-btn{
  position: revert;
}

.wang-editor-description{
  display: none;
}