.confirmation-modal {
  overflow: hidden;
}

  .confirmation-modal .modal-header, .modal-content, .modal-footer {
    text-align: center;
  }

  .confirmation-modal .modal-header, .modal-footer {
    background-color: lightyellow;
    padding: 10px;
    margin-top: 0px;
  }

  .confirmation-modal .modal-content {
    background-color: whitesmoke;
  }
