@{string layout = null; }

@if (ViewBag.IsAjaxCall == false)
{
  layout = "~/Views/Shared/_Layout.cshtml";
  <script>startSpinner();</script>
}

@{
  Layout = layout;
}

<link rel="stylesheet" href="~/css/users-grid.css" />

<div class="modal fade" id="new-user-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Cadastro de novo usuário</h4>
      </div>
      <div id="new-user-modal-body"></div>
    </div>
  </div>
</div>

@await Component.InvokeAsync("ConfirmationModal")
@await Component.InvokeAsync("PageHeader", "Usuários")
<table id="users-grid" class="table table-condensed table-hover table-striped">
  <thead>
    <tr>
      <th data-width="5%" data-column-id="id" data-formatter="id" data-align="center" data-header-align="center" data-header-css-class="id-header" data-order="asc">ID</th>
      <th data-width="25%" data-column-id="name" data-formatter="name" data-align="center" data-header-align="center" data-header-css-class="name-header">Nome</th>
      <th data-width="20%" data-column-id="username" data-formatter="username" data-align="center" data-header-align="center" data-header-css-class="username-header">Nome de Usuário</th>
      <th data-width="20%" data-column-id="department" data-formatter="department" data-align="center" data-header-align="center" data-header-css-class="department-header">Departamento</th>
      <th data-width="10%" data-column-id="active" data-formatter="active" data-align="center" data-header-align="center" data-header-css-class="active-header">Ativo</th>
      <th data-width="10%" data-column-id="moderator" data-formatter="moderator" data-align="center" data-header-align="center" data-header-css-class="moderator-header">Moderador</th>
      <th data-width="10%" data-column-id="action" data-formatter="action" data-align="center" data-header-align="center" data-header-css-class="actions-header">Ações</th>
    </tr>
  </thead>
</table>

<script src="~/js/users-grid.js"></script>