.actions > div:nth-child(3) {
  display: none;
}

.actionBar {
  padding: 0px;
}

#blacklist-terms-grid > thead > tr > th:last-child {
  pointer-events: none;
}

/*Botão Novo Termo*/
#btn-new-term {
  background-color: #00cc003d;
  margin-right: 20px;
}

#new-term-modal, #edit-term-modal {
  overflow: auto;
}