.checkbox{
  padding:0;
}
.icon-remove-circle {
  color: orangered;
  cursor: pointer;
  padding-right: 10px;
}

.files-qty{
  display: none;
}

p{
  margin: 5px 0 0 0;
  color: darkred;
}

.departments-list {
  display: none;
}
