#photo-limit {
  color: #a94442;
  display: none;
}

.fa-circle-arrow-left {
  margin-right: 4px;
}

#card-permissions {
  border: 1px solid #ececec;
  background: #ddd;
}

#permission-text {
  padding: 3px;
  font-weight: bold;
}

.permissions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
  padding: 3px
}

.permissions-p {
  font-size: 11px;
  display: contents;
}

#tab-2 {
  margin-inline: 15px;
}

.post-type {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  border: 1px solid #ddd;
}

.permissions-div {
  padding: 0;
}

.group{
  background-color: whitesmoke;
}

#permission-text{
  margin-top: 5.0rem;
}

.template{
  width: 15rem;
  margin:1rem;
}

.template-div{
  display:flex;
  justify-content:center;
}

.img-container {
  position: relative;
  width: 100%; 
  padding-bottom: 100%; 
  overflow: hidden;
}

.user-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}