.blinked-exclamation {
  color: #ffcf00;
  font-size: 15px;
}

  .blinked-exclamation ~ span {
    color: darkred;
  }

.dashboard-btn, .user-profile-btn {
  cursor: pointer;
}

#logs-link {
  margin-left: 0.4rem;
  margin-right: 0.3rem;
}

#blacklist-terms-link {
  margin-left: 0.3rem;
}

#sidebar ul#nav{
  margin: 0px;
}

.crumb-buttons a {
  pointer-events: none;
}