.blinked-exclamation {
  color: #ffcf00;
  font-size: 15px;
}

  .blinked-exclamation ~ span {
    color: darkred;
  }

.dashboard-btn {
  cursor: pointer;
}

.user-profile-btn {
  cursor: pointer;
}

#logs-link {
  margin-left: 3px;
  margin-right: 3px;
}

#sidebar ul#nav{
  margin: 0px;
}