#confirm-modal, #restrict-delete-modal, #restrict-edit-modal {
  overflow: hidden;
}

.modal-content, .modal-footer{
  text-align: center;
}

#restrict-delete-modal .modal-content, #restrict-edit-modal .modal-content {
  background-color: lightcoral;
}

#confirm-modal .modal-content {
  background-color: lightyellow;
}
