/*Remove o padding no eixo x do cabeçalho*/
#logs-grid > thead tr > th {
  padding-inline: 0;
}

/*Paginação*/
.pagination {
  cursor: pointer;
}

/*Margem dos textos internos dos cabeçalhos*/
#logs-grid > thead tr > th > a > span:nth-child(1) {
  margin: 0px;
}