.confirm-modal, .danger-modal {
  overflow: hidden;
}

.modal-header, .modal-content, .modal-footer {
  text-align: center;
}

.confirm-modal .modal-header, .confirm-modal .modal-footer {
  background-color: lightyellow;
}

.modal-header, .modal-footer {
  padding: 10px;
}

.modal-footer {
  margin-top: 0px;
}

.danger-modal .modal-header {
  background-color: lightcoral;
}

.modal-header {
  background-color: lightcoral;
}

.confirm-modal .modal-content {
  background-color: whitesmoke;
}
