.dropdown-item {
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 3px 20px;
  white-space: nowrap;
}

#filter-button{
  width: 160px;
}
/*Grid-----------------------------------------------*/
.not-revised{
  color: red;
  text-align: left;
}
.pagination {
  cursor: pointer;
}

#posts-grid > tbody > tr > td:nth-child(1){
  text-align:center;
}

.actions > div:nth-child(3) {
  display: none;
}

#posts-grid > thead > tr > th:last-child {
  pointer-events:none;
  text-align: center;
}

#posts-grid > thead > tr > th:nth-child(1) {
  text-align: right;
}

/*Comprimento das colunas*/
#posts-grid > thead > tr > th:nth-child(1) {
  width: 5%;
}
#posts-grid > thead > tr > th:nth-child(2) {
  width: 15%;
}
#posts-grid > thead > tr > th:nth-child(3) {
  width: 10%;
}
#posts-grid > thead > tr > th:nth-child(4) {
  width: 20%;
}
#posts-grid > thead > tr > th:nth-child(5) {
  width: 20%;
}
#posts-grid > thead > tr > th:nth-child(6) {
  width: 11%;
}
#posts-grid > thead > tr > th:nth-child(7) {
  width: 9%;
}