/*Remove o padding no eixo x do cabeçalho*/
#posts-grid > thead tr > th {
  padding-inline: 0;
}

/*Menu de filtragem de postagens*/
#filter-button {
  width: 16rem;
}
.dropdown-item {
  cursor: pointer;
}

/*Ícone de não revisada*/
.not-revised {
  color: red;
  text-align: left;
}

/*Margem dos textos internos dos cabeçalhos*/
#posts-grid > thead tr > th > a > span:nth-child(1) {
  margin: 0px;
}

/*Ações(cabeçalho)*/
.actions-header {
  pointer-events: none;
}

/*Paginação*/
.pagination {
  cursor: pointer;
}