/*Remove o padding no eixo x do cabeçalho*/
#users-grid > thead tr > th {
  padding-inline: 0;
}

/*Menu de filtragem de usuários*/
.dropdown-item {
  cursor: pointer;
}
#filter-button {
  width: 12rem;
}

/*Barra principal*/
.actionBar {
  padding: 0px;
}

/*Margem dos textos internos dos cabeçalhos*/
#users-grid > thead tr > th > a > span:nth-child(1) {
  margin: 0px;
}

/*Ações(cabeçalho)*/
.actions-header {
  pointer-events: none;
}

/*Paginação*/
.pagination {
  cursor: pointer;
}

/*Botão Novo Usuário*/
#btn-new-user {
  background-color: #00cc003d;
  margin-right: 20px;
}

/*Modal Novo Usuário*/
#new-user-modal {
  overflow: hidden;
}