@*Modal de confirmação para apagar uma psotagem*@
<div data-backdrop="true" class="confirm-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title"><h5></h5></div>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn-yes-@Model btn btn-success">Sim</button>
        <button type="button" class="btn-no-@Model btn btn-danger">Não</button>
      </div>
    </div>
  </div>
</div>