@*Modal de restrição ao tentar apagar uma postagem de outra pessoa*@
<div data-backdrop="true" class="danger-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title"><h5></h5></div>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>