@model UserAccount

@{
  Layout = null;
}

<link rel="stylesheet" href="~/css/components/unrevised-list.css"/>

<li class="all-posts">
  <a id="all-posts-link">
    <i class="icon-angle-right"></i>Listar Postagens
  </a>
</li>
@if (ViewBag.Moderator == true && ViewBag.UnrevisedPosts > 0)
{
  <li class="unrevised-posts">
    <a id="unrevised-posts-link">
      <i class="icon-angle-right"></i>Postagens não revisadas
      <span class="badge pull-right">
        @ViewBag.UnrevisedPosts
      </span>
    </a>
  </li>
}
@if (ViewBag.Moderator == true && ViewBag.UnrevisedComments > 0)
{
  <li class="unrevised-comments">
    <a id="unrevised-comments-link">
      <i class="icon-angle-right"></i>Comentários não revisados
      <span class="badge pull-right">
        @ViewBag.UnrevisedComments
      </span>
    </a>
  </li>
}

<script type="text/javascript" src="~/js/components/unrevised-list.js"></script>