@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewData["Title"] Engeman Intranet</title>
  @*jQuery*@
  <script type="text/javascript" src="~/lib/jquery/jquery-2.2.5.min.js"></script>
  @*Bootstrap*@
  <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="~/lib/bootstrap/js/bootstrap.min.js"></script>
  @*Theme*@
  <link href="~/css/main.css" rel="stylesheet" type="text/css" />
  <link href="~/css/plugins.css" rel="stylesheet" type="text/css" />
  <link href="~/css/responsive.css" rel="stylesheet" type="text/css" />
  <link href="~/css/icons.css" rel="stylesheet" type="text/css" />
  @*Font-Awesome*@
  <link rel="stylesheet" href="~/css/fontawesome/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/aed8741637.js" crossorigin="anonymous"></script>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
  @*Palavras chave*@
  <script type="text/javascript" src="~/plugins/tagsinput/jquery.tagsinput.js"></script>
  @*Calendário*@
  <script type="text/javascript" src="~/js/demo/pages_calendar.js"></script>
  @*Toastr*@
  <link rel="stylesheet" href="~/lib/toastr/toastr.css" />
  <script type="text/javascript" src="~/lib/toastr/toastr.js"></script>
  @*Smartphone Touch Events*@
  <script type="text/javascript" src="~/plugins/touchpunch/jquery.ui.touch-punch.min.js"></script>
  <script type="text/javascript" src="~/plugins/event.swipe/jquery.event.move.js"></script>
  <script type="text/javascript" src="~/plugins/event.swipe/jquery.event.swipe.js"></script>
  @*General*@
  <script type="text/javascript" src="~/js/libs/breakpoints.js"></script>
  <script type="text/javascript" src="~/plugins/respond/respond.min.js"></script> <!-- Polyfill for min/max-width CSS3 Media Queries (only for IE8) -->
  <script type="text/javascript" src="~/plugins/slimscroll/jquery.slimscroll.min.js"></script>
  <script type="text/javascript" src="~/plugins/cookie/jquery.cookie.min.js"></script> @*Usado para alternar o tema*@
  <script type="text/javascript" src="~/plugins/slimscroll/jquery.slimscroll.horizontal.min.js"></script>
  @*Page specific plugins*@
  <script type="text/javascript" src="~/plugins/sparkline/jquery.sparkline.min.js"></script>
  <script type="text/javascript" src="~/plugins/flot/jquery.flot.min.js"></script>
  <script type="text/javascript" src="~/plugins/flot/jquery.flot.tooltip.min.js"></script>
  <script type="text/javascript" src="~/plugins/flot/jquery.flot.resize.min.js"></script>
  <script type="text/javascript" src="~/plugins/flot/jquery.flot.time.min.js"></script>
  <script type="text/javascript" src="~/plugins/flot/jquery.flot.growraf.min.js"></script>
  <script type="text/javascript" src="~/plugins/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>
  <script type="text/javascript" src="~/plugins/daterangepicker/moment.min.js"></script>
  <script type="text/javascript" src="~/plugins/daterangepicker/daterangepicker.js"></script>
  <script type="text/javascript" src="~/plugins/blockui/jquery.blockUI.min.js"></script>
  <script type="text/javascript" src="~/plugins/fullcalendar/fullcalendar.min.js"></script>
  @*Noty*@
  <script type="text/javascript" src="~/plugins/noty/jquery.noty.js"></script>
  <script type="text/javascript" src="~/plugins/noty/layouts/top.js"></script>
  <script type="text/javascript" src="~/plugins/noty/themes/default.js"></script>
  @*Forms*@
  <script type="text/javascript" src="~/plugins/uniform/jquery.uniform.min.js"></script>
  <script type="text/javascript" src="~/plugins/select2/select2.min.js"></script>
  @*Jquery-UI*@
  <script>
    let origButton = jQuery.fn.button;
  </script>
  <script type="text/javascript" src="~/lib/jquery-ui/jquery-ui.min.js"></script>
  <link rel="stylesheet" type="text/css" href="~/lib/jquery-ui/jquery-ui.min.css" />
  <link href="~/lib/jquery-ui/jquery-ui.structure.min.css" rel="stylesheet" />
  <link href="~/lib/jquery-ui/jquery-ui.theme.min.css" rel="stylesheet" />
  <script>
    jQuery.fn.jqueryUIButton = jQuery.fn.button;
    jQuery.fn.button = origButton;
  </script>
  @*MultiSeleção*@
  <script type="text/javascript" src="~/plugins/bootstrap-multiselect/bootstrap-multiselect.js"></script>
  @*Switch*@
  <script type="text/javascript" src="~/plugins/bootstrap-switch/bootstrap-switch.js"></script>
  @*Bootgrid*@
  <link rel="stylesheet" href="~/lib/bootgrid/jquery.bootgrid.css">
  <script src="~/lib/bootgrid/jquery.bootgrid.js"></script>
  @*jQuery Validation*@
  <script type="text/javascript" src="~/lib/jquery-validation/jquery.validate.min.js"></script>
  <script type="text/javascript" src="~/lib/jquery-validation/additional-methods.min.js"></script>
  <script type="text/javascript" src="~/lib/jquery-validation/messages_pt_BR.js"></script>
  @*Spinner*@
  <link rel="stylesheet" href="~/css/plugins/easy-loading.min.css" />
  <script type="text/javascript" src="~/plugins/easy-loading/easy-loading.min.js"></script>
  <script src="~/js/spinner.js"></script>
  @*Wysiwyg*@
  <link rel="stylesheet" href="~/plugins/wysiwyg/css/style.css" />
  <script type="text/javascript" src="~/plugins/wysiwyg/js/index.js"></script>
  @*Cookie*@
  <script type="module" src="~/plugins/cookie/js.cookie.min.js"></script>
  @*CSS personalizado*@
  <link rel="stylesheet" type="text/css" href="~/css/custom.css" />
  <link rel="stylesheet" type="text/css" href="~/css/layout.css" />
</head>

<body>
  @await Component.InvokeAsync("AlertModal")
  <!-- Header -->
  <header class="header navbar navbar-fixed-top" role="banner">
    <!-- Top Navigation Bar -->
    <div class="container">
      <!-- Only visible on smartphones, menu toggle -->
      <ul class="nav navbar-nav">
        <li class="nav-toggle"><a href="javascript:void(0);" title=""><i class="icon-reorder"></i></a></li>
      </ul>
      <!-- Logo -->
      <a class="navbar-brand dashboard-btn" >
        <strong>ENGEMAN </strong>INTRANET
      </a>
      <!-- /logo -->
      <!-- Sidebar Toggler -->
      <a href="#" class="toggle-sidebar bs-tooltip" data-placement="bottom" data-original-title="Toggle navigation">
        <i class="icon-reorder"></i>
      </a>
      <!-- /Sidebar Toggler -->
      <!-- Top Right Menu -->
      <ul class="nav navbar-nav navbar-right">
        <!-- User Login Dropdown -->
        <li class="dropdown user">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <!--<img alt="" src="assets/img/avatar1_small.jpg" />-->
            <i class="fa-solid fa-user-check"></i>
            <span class="username">@Context.Session.GetString("_DomainUsername")</span>
            <i class="icon-caret-down small"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a class="user-profile-btn"><i class="icon-user"></i> Meu Perfil</a></li>
            <li class="divider"></li>
            <li><a onclick="sessionStorage.clear()" asp-area="" asp-controller="login" asp-action="logout"><i class="fa-solid fa-right-from-bracket"></i>Sair</a></li>
          </ul>
        </li>
        <!-- /user login dropdown -->
      </ul>
      <!-- /Top Right Menu -->
    </div>
  </header> <!-- /.header -->
  <div id="container">
    <div id="sidebar" class="sidebar-fixed">
      <div id="sidebar-content">
        <!--=== Navigation ===-->
        <ul id="nav">
          <li>
            <a class="dashboard-btn" href="#">
              <i class="icon-bar-chart"></i>
              Dashboard
            </a>
          </li>
          <li>
            <a id="posts" href="javascript:void(0);">
              <i class="icon-edit"></i>Postagens
            </a>
            <ul class="sub-menu">
              <li>
                <a id="new-post-btn" href="#">
                  <i class="icon-angle-right"></i>Nova Postagem
                </a>
              </li>
              <li id="list-posts-content">
                @await Component.InvokeAsync("UnrevisedList")
              </li>
            </ul>
          </li>
          <li>
            <a class="user-profile-btn" href="#">
              <i class="icon-user"></i>Perfil de Usuário
            </a>
          </li>
        </ul>
        <!-- /Navigation -->
        <div class="sidebar-title">
          <span>TEMA</span>
        </div>
        <div class="sidebar-widget align-center">
          <div class="btn-group" data-toggle="buttons" id="theme-switcher">
            <label class="btn active">
              <input type="radio" name="theme-switcher" data-theme="bright"><i class="icon-sun"></i> Claro
            </label>
            <label class="btn">
              <input type="radio" name="theme-switcher" data-theme="dark"><i class="icon-moon"></i> Escuro
            </label>
          </div>
        </div>

      </div>
      <div id="divider" class="resizeable"></div>
    </div>
    <!-- /Sidebar -->
    <div id="content">
      <div class="container">
        <!-- Breadcrumbs line -->
        <div class="crumbs">
          <ul class="crumb-buttons">
            <li class="range">
              <a href="#">
                <i class="icon-calendar"></i>
                <span></span>
                <i class="icon-angle-down"></i>
              </a>
            </li>
          </ul>
        </div>
        <!-- /Breadcrumbs line -->
        <div id="render-body">
          @RenderBody()
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="~/js/app.js"></script>
  <script type="text/javascript" src="~/js/plugins.js"></script>
  <script type="text/javascript" src="~/js/plugins.form-components.js"></script>
  <script type="text/javascript" src="~/js/layout.js"></script>
  <script type="text/javascript" src="~/js/custom.js"></script>
</body>

</html>