<head>
  <!-- DataTables -->
  <script type="text/javascript" src="plugins/datatables/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="plugins/datatables/tabletools/TableTools.min.js"></script> <!-- optional -->
  <script type="text/javascript" src="plugins/datatables/colvis/ColVis.min.js"></script> <!-- optional -->
  <script type="text/javascript" src="plugins/datatables/columnfilter/jquery.dataTables.columnFilter.js"></script>
  <!-- optional -->
  <script type="text/javascript" src="plugins/datatables/DT_bootstrap.js"></script>

  @*Bootgrid*@
  <link rel="stylesheet" href="/lib/bootGrid/jquery.bootgrid.css">
  <script src="~/lib/bootgrid/jquery.bootgrid.js"></script>
  @*<script src="~/lib/bootGrid/jquery.bootgrid.fa.js"></script>*@

  @*Moment.Js*@
  <script src="~/lib/moment/moment.js"></script>

  @*Spinner*@
  <link rel="stylesheet" href="~/lib/spinner/jquery.loadingModal.css" />
  <script src="~/lib/spinner/jquery.loadingModal.js"></script>

  <!-- Demo JS -->
  <script type="text/javascript" src="~/js/custom.js"></script>

</head>

<div class="page-header">
  <div class="page-title">
    <h3>Perguntas e Respostas </h3>
    @*<span>Good morning, John!</span>*@
  </div>

  <!-- Page Stats -->
  <ul class="page-stats">
    <li>
      <div class="summary">
        <span>New orders</span>
        <h3>17,561</h3>
      </div>
      <div id="sparkline-bar" class="graph sparkline hidden-xs">20,15,8,50,20,40,20,30,20,15,30,20,25,20</div>
      <!-- Use instead of sparkline e.g. this:
      <div class="graph circular-chart" data-percent="73">73%</div>
      -->
    </li>
    <li>
      <div class="summary">
        <span>My balance</span>
        <h3>$21,561.21</h3>
      </div>
      <div id="sparkline-bar2" class="graph sparkline hidden-xs">20,15,8,50,20,40,20,30,20,15,30,20,25,20</div>
    </li>
  </ul>
  <!-- /Page Stats -->
</div>


<!-- /Page Header -->
<!--=== Page Content ===-->
<!--=== Managed Tables ===-->
@*<table id="grid-basic" class="table table-condensed table-hover table-striped">
    <thead>
      <tr>
        <th data-column-id="id">ID</th>
        <th data-column-id="sender">Sender</th>
        <th data-column-id="received" data-order="desc">Received</th>
      </tr>
    </thead>
    <tbody>
      @{ for (int i = 0; i < Model.Count; i++)
        {
          <tr>
            <td>@Model[i].Name</td>
            <td>@Model[i].Email</td>
            <td>@Model[i].DomainAccount</td>
          </tr>

        }}
    </tbody>
  </table>*@

@*<table id="grid-data" class="table table-condensed table-hover table-striped">
  <thead>
    <tr>

      <th data-column-id="id" data-order="asc">Id</th>
      <th data-column-id="name">Nome</th>
      <th data-column-id="domainAccount">Domínio</th>
      <th data-column-id="email">Email</th>
      <th data-column-id="changeDate">Data</th>
    </tr>
  </thead>*@
</table>

<table id="grid-data" class="table table-condensed table-hover table-striped">
  <thead>
    <tr>

      <th data-column-id="id" data-order="asc">Id</th>
      <th data-column-id="userAccountName">Nome</th>
      <th data-column-id="departmentDescription">Setor</th>
      <th data-column-id="subject">Assunto</th>
      <th data-column-id="cleanDescription">Descrição</th>
      <th data-column-id="changeDate">Data</th>
    </tr>
  </thead>
</table>

<script src="~/js/questionsanswers.js"></script>















<!--=== Normal ===-->
<!--<div class="row">
    <div class="col-md-12">
        <div class="widget box">
            <div class="widget-header">
                <h4><i class="icon-reorder"></i> Managed Table</h4>
                <div class="toolbar no-padding">
                    <div class="btn-group">
                        <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
                    </div>
                </div>
            </div>
            <div class="widget-content">
                <table class="table table-striped table-bordered table-hover table-checkable datatable">
                    <thead>
                        <tr>
                            <th class="checkbox-column">
                                <input type="checkbox" class="uniform">
                            </th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th class="hidden-xs">Username</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="checkbox-column">
                                <input type="checkbox" class="uniform">
                            </td>
                            <td>Joey</td>
                            <td>Greyson</td>
                            <td class="hidden-xs">joey123</td>
                            <td><span class="label label-success">Approved</span></td>
                        </tr>
                        <tr>
                            <td class="checkbox-column">
                                <input type="checkbox" class="uniform">
                            </td>
                            <td>Wolf</td>
                            <td>Bud</td>
                            <td class="hidden-xs">wolfy</td>
                            <td><span class="label label-info">Pending</span></td>
                        </tr>
                        <tr>
                            <td class="checkbox-column">
                                <input type="checkbox" class="uniform">
                            </td>
                            <td>Darin</td>
                            <td>Alec</td>
                            <td class="hidden-xs">alec82</td>
                            <td><span class="label label-warning">Suspended</span></td>
                        </tr>
                        <tr>
                            <td class="checkbox-column">
                                <input type="checkbox" class="uniform">
                            </td>
                            <td>Andrea</td>
                            <td>Brenden</td>
                            <td class="hidden-xs">andry</td>
                            <td><span class="label label-danger">Blocked</span></td>
                        </tr>
                        <tr>
                            <td class="checkbox-column">
                                <input type="checkbox" class="uniform">
                            </td>
                            <td>Joey</td>
                            <td>Greyson</td>
                            <td class="hidden-xs">joey123</td>
                            <td><span class="label label-success">Approved</span></td>
                        </tr>
                        <tr>
                            <td class="checkbox-column">
                                <input type="checkbox" class="uniform">
                            </td>
                            <td>Wolf</td>
                            <td>Bud</td>
                            <td class="hidden-xs">wolfy</td>
                            <td><span class="label label-info">Pending</span></td>
                        </tr>
                        <tr>
                            <td class="checkbox-column">
                                <input type="checkbox" class="uniform">
                            </td>
                            <td>Darin</td>
                            <td>Alec</td>
                            <td class="hidden-xs">alec82</td>
                            <td><span class="label label-warning">Suspended</span></td>
                        </tr>
                        <tr>
                            <td class="checkbox-column">
                                <input type="checkbox" class="uniform">
                            </td>
                            <td>Andrea</td>
                            <td>Brenden</td>
                            <td class="hidden-xs">andry</td>
                            <td><span class="label label-danger">Blocked</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>-->
<!-- /Normal -->
<!--=== no-padding ===-->
@*<div class="row">
    <div class="col-md-12">
      <div class="widget box">
        <div class="widget-header">
          <h4><i class="icon-reorder"></i> Managed Table (<code>no-padding</code>)</h4>
          <div class="toolbar no-padding">
            <div class="btn-group">
              <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
            </div>
          </div>
        </div>
        <div class="widget-content no-padding">
          <table class="table table-striped table-bordered table-hover table-checkable datatable">
            <thead>
              <tr>
                <th class="checkbox-column">
                  <input type="checkbox" class="uniform">
                </th>
                <th>First Name</th>
                <th>Last Name</th>
                <th class="hidden-xs">Username</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="checkbox-column">
                  <input type="checkbox" class="uniform">
                </td>
                <td>Joey</td>
                <td>Greyson</td>
                <td class="hidden-xs">joey123</td>
                <td><span class="label label-success">Approved</span></td>
              </tr>
              <tr>
                <td class="checkbox-column">
                  <input type="checkbox" class="uniform">
                </td>
                <td>Wolf</td>
                <td>Bud</td>
                <td class="hidden-xs">wolfy</td>
                <td><span class="label label-info">Pending</span></td>
              </tr>
              <tr>
                <td class="checkbox-column">
                  <input type="checkbox" class="uniform">
                </td>
                <td>Darin</td>
                <td>Alec</td>
                <td class="hidden-xs">alec82</td>
                <td><span class="label label-warning">Suspended</span></td>
              </tr>
              <tr>
                <td class="checkbox-column">
                  <input type="checkbox" class="uniform">
                </td>
                <td>Andrea</td>
                <td>Brenden</td>
                <td class="hidden-xs">andry</td>
                <td><span class="label label-danger">Blocked</span></td>
              </tr>
              <tr>
                <td class="checkbox-column">
                  <input type="checkbox" class="uniform">
                </td>
                <td>Joey</td>
                <td>Greyson</td>
                <td class="hidden-xs">joey123</td>
                <td><span class="label label-success">Approved</span></td>
              </tr>
              <tr>
                <td class="checkbox-column">
                  <input type="checkbox" class="uniform">
                </td>
                <td>Wolf</td>
                <td>Bud</td>
                <td class="hidden-xs">wolfy</td>
                <td><span class="label label-info">Pending</span></td>
              </tr>
              <tr>
                <td class="checkbox-column">
                  <input type="checkbox" class="uniform">
                </td>
                <td>Darin</td>
                <td>Alec</td>
                <td class="hidden-xs">alec82</td>
                <td><span class="label label-warning">Suspended</span></td>
              </tr>
              <tr>
                <td class="checkbox-column">
                  <input type="checkbox" class="uniform">
                </td>
                <td>Andrea</td>
                <td>Brenden</td>
                <td class="hidden-xs">andry</td>
                <td><span class="label label-danger">Blocked</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>*@
<!-- /no-padding -->
<!--=== no-padding and table-tabletools ===-->
<!--<div class="row">
    <div class="col-md-12">
        <div class="widget box">
            <div class="widget-header">
                <h4><i class="icon-reorder"></i> TableTools (<code>no-padding</code> &amp; <code>table-tabletools</code>)</h4>
                <div class="toolbar no-padding">
                    <div class="btn-group">
                        <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
                    </div>
                </div>
            </div>
            <div class="widget-content no-padding">
                <table class="table table-striped table-bordered table-hover table-checkable table-tabletools datatable">
                    <thead>
                        <tr>
                            <th class="checkbox-column">
                                <input type="checkbox" class="uniform">
                            </th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th class="hidden-xs">Username</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="checkbox-column">
                                <input type="checkbox" class="uniform">
                            </td>
                            <td>Joey</td>
                            <td>Greyson</td>
                            <td class="hidden-xs">joey123</td>
                            <td><span class="label label-success">Approved</span></td>
                        </tr>
                        <tr>
                            <td class="checkbox-column">
                                <input type="checkbox" class="uniform">
                            </td>
                            <td>Wolf</td>
                            <td>Bud</td>
                            <td class="hidden-xs">wolfy</td>
                            <td><span class="label label-info">Pending</span></td>
                        </tr>
                        <tr>
                            <td class="checkbox-column">
                                <input type="checkbox" class="uniform">
                            </td>
                            <td>Darin</td>
                            <td>Alec</td>
                            <td class="hidden-xs">alec82</td>
                            <td><span class="label label-warning">Suspended</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>-->
<!-- /no-padding and table-tabletools -->
<!--=== no-padding and table-colvis ===-->
<!--<div class="row">
    <div class="col-md-12">
        <div class="widget box">
            <div class="widget-header">
                <h4><i class="icon-reorder"></i> Show/ Hide Columns (<code>no-padding</code> &amp; <code>table-colvis</code>)</h4>
                <div class="toolbar no-padding">
                    <div class="btn-group">
                        <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
                    </div>
                </div>
            </div>
            <div class="widget-content no-padding">
                <table class="table table-striped table-bordered table-hover table-checkable table-colvis datatable">
                    <thead>
                        <tr>
                            <th class="checkbox-column">
                                <input type="checkbox" class="uniform">
                            </th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th class="hidden-xs">Username</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="checkbox-column">
                                <input type="checkbox" class="uniform">
                            </td>
                            <td>Joey</td>
                            <td>Greyson</td>
                            <td class="hidden-xs">joey123</td>
                            <td><span class="label label-success">Approved</span></td>
                        </tr>
                        <tr>
                            <td class="checkbox-column">
                                <input type="checkbox" class="uniform">
                            </td>
                            <td>Wolf</td>
                            <td>Bud</td>
                            <td class="hidden-xs">wolfy</td>
                            <td><span class="label label-info">Pending</span></td>
                        </tr>
                        <tr>
                            <td class="checkbox-column">
                                <input type="checkbox" class="uniform">
                            </td>
                            <td>Darin</td>
                            <td>Alec</td>
                            <td class="hidden-xs">alec82</td>
                            <td><span class="label label-warning">Suspended</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>-->
<!-- /no-padding and table-colvis -->
<!--=== Column Filter ===-->
<!--<div class="row">
    <div class="col-md-12">
        <div class="widget box">
            <div class="widget-header">
                <h4><i class="icon-reorder"></i> Column Filter (<code>no-padding</code>)</h4>
                <div class="toolbar no-padding">
                    <div class="btn-group">
                        <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
                    </div>
                </div>
            </div>
            <div class="widget-content no-padding">
                <table class="table table-striped table-bordered table-hover table-checkable table-columnfilter datatable" data-columnFilter='{"aoColumns": [ null, {"type": "text"}, {"type": "text"}, {"type": "text"}, { "type": "select" } ]}' data-columnFilter-select2="true">
                    <thead>
                        <tr>
                            <th class="checkbox-column">
                                <input type="checkbox" class="uniform">
                            </th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th class="hidden-xs">Username</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="checkbox-column">
                                <input type="checkbox" class="uniform">
                            </td>
                            <td>Joey</td>
                            <td>Greyson</td>
                            <td class="hidden-xs">joey123</td>
                            <td>Approved</td>
                        </tr>
                        <tr>
                            <td class="checkbox-column">
                                <input type="checkbox" class="uniform">
                            </td>
                            <td>Wolf</td>
                            <td>Bud</td>
                            <td class="hidden-xs">wolfy</td>
                            <td>Pending</td>
                        </tr>
                        <tr>
                            <td class="checkbox-column">
                                <input type="checkbox" class="uniform">
                            </td>
                            <td>Darin</td>
                            <td>Alec</td>
                            <td class="hidden-xs">alec82</td>
                            <td>Suspended</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th class="hidden-xs">Username</th>
                            <th>Status</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>-->
<!-- /Column Filter -->
<!--=== Horizontal Scrolling ===-->
<!--<div class="row">
    <div class="col-md-12">
        <div class="widget box">
            <div class="widget-header">
                <h4><i class="icon-reorder"></i> Horizontal Scrolling (<code>no-padding</code>)</h4>
                <div class="toolbar no-padding">
                    <div class="btn-group">
                        <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
                    </div>
                </div>
            </div>
            <div class="widget-content no-padding">
                <table class="table table-striped table-bordered table-hover table-checkable datatable" data-horizontal-width="150%">
                    <thead>
                        <tr>
                            <th class="checkbox-column">
                                <input type="checkbox" class="uniform">
                            </th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th class="hidden-xs">Username</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="checkbox-column">
                                <input type="checkbox" class="uniform">
                            </td>
                            <td>Joey</td>
                            <td>Greyson</td>
                            <td class="hidden-xs">joey123</td>
                            <td><span class="label label-success">Approved</span></td>
                        </tr>
                        <tr>
                            <td class="checkbox-column">
                                <input type="checkbox" class="uniform">
                            </td>
                            <td>Wolf</td>
                            <td>Bud</td>
                            <td class="hidden-xs">wolfy</td>
                            <td><span class="label label-info">Pending</span></td>
                        </tr>
                        <tr>
                            <td class="checkbox-column">
                                <input type="checkbox" class="uniform">
                            </td>
                            <td>Darin</td>
                            <td>Alec</td>
                            <td class="hidden-xs">alec82</td>
                            <td><span class="label label-warning">Suspended</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>-->
