@{string layout = null;}

@if (ViewBag.IsAjaxCall == false)
{
  layout = "~/Views/Shared/_Layout.cshtml";
  <script>startSpinner();</script>
}

@{
  Layout = layout;
}

<div class="body-content">
  @await Component.InvokeAsync("PageHeader", "Dashboard")
  <!--=== Page Content ===-->
  @await Component.InvokeAsync("StatBoxes")
  <!--=== Blue Chart ===-->
  <div class="row">
    <div class="col-md-12">
      <div class="widget box">
        <div class="widget-header">
          <h4><i class="icon-reorder"></i> Total Clicks (<span class="blue">+29%</span>)</h4>
          <div class="toolbar no-padding">
            <div class="btn-group">
              <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
            </div>
          </div>
        </div>
        <div class="widget-content">
          <div id="chart_filled_blue" class="chart"></div>
        </div>
        <div class="divider"></div>
        <div class="widget-content">
          <ul class="stats">
            <!-- .no-dividers -->
            <li>
              <strong>4,853</strong>
              <small>Total Views</small>
            </li>
            <li class="light hidden-xs">
              <strong>271</strong>
              <small>Last 24 Hours</small>
            </li>
            <li>
              <strong>1,025</strong>
              <small>Unique Users</small>
            </li>
            <li class="light hidden-xs">
              <strong>105</strong>
              <small>Last 24 Hours</small>
            </li>
          </ul>
        </div>
      </div>
    </div> <!-- /.col-md-12 -->
  </div> <!-- /.row -->
  <!-- /Blue Chart -->  
  <!-- /Page Content -->
</div>

<script type="text/javascript" src="~/js/demo/charts/chart_filled_blue.js"></script>
<script type="text/javascript" src="~/js/dashboard.js"></script>

@if (ViewBag.IsAjaxCall == true)
{
  <script type="text/javascript" src="~/js/demo/charts/chart_filled_blue.js"></script>

  <script>
    //abrir e fechar os widgets
    $('.widget .toolbar .widget-collapse').click(function () {
      var widget = $(this).parents(".widget");
      var widget_content = widget.children(".widget-content");
      var widget_chart = widget.children(".widget-chart");
      var divider = widget.children(".divider");

      if (widget.hasClass('widget-closed')) {
        // Open Widget
        $(this).children('i').removeClass('icon-angle-up').addClass('icon-angle-down');
        widget_content.slideDown(200, function () {
          widget.removeClass('widget-closed');
        });
        widget_chart.slideDown(200);
        divider.slideDown(200);
      } else {
        // Close Widget
        $(this).children('i').removeClass('icon-angle-down').addClass('icon-angle-up');
        widget_content.slideUp(200, function () {
          widget.addClass('widget-closed');
        });
        widget_chart.slideUp(200);
        divider.slideUp(200);
      }
    }); 
  </script>
}