<link rel="stylesheet" href="~/css/new-term-form.css" />

<div class="widget box">
  <div class="widget-content">
    <form class="form-horizontal" id="new-term-form" method="post">
      <div class="form-group form-group-term">
        <label class="col-sm-3 control-label">Termo<span class="required">*</span></label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="description" name="description">
        </div>
      </div>   
      <div class="form-actions">
        <button class="btn btn-primary pull-right" type="submit">Salvar</button>
        <button class="btn btn-default pull-left" id="cancel-new-term">Cancelar</button>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript" src="~/js/new-term-form.js"></script>