@{
  Layout = null;
}

@model string

<div class="col-md-12 wang-editor" id="@Model">
  <div id="@Model-toolbar" class="wang-editor-toolbar" style="border-bottom: 1px solid #ccc;"></div>
  <div id="@Model-editor" class="wang-editor-editor"></div>
  <input id="@Model-description" class="form-control wang-editor-description" name="description" type="hidden">
<div class="col-md-12 panel-group wang-editor-preview">
    <div class="panel panel-default">
      <div class="panel-heading align-center">
        <h3 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#@Model-collapse">
            Pré-visualizar comentário
          </a>
        </h3>
      </div>
      <div id="@Model-collapse" class="panel-collapse collapse">
        <div class="preview-box panel-body">
          <div id="@Model-preview" class="editor-content-view"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  if (!$("#wang-editor-script").length) {
    function addScript(attribute, text, callback) {
      var s = document.createElement('script');
      for (var attr in attribute) {
        s.setAttribute(attr, attribute[attr] ? attribute[attr] : null)
      }
      s.innerHTML = text;
      s.onload = callback;
      document.body.appendChild(s);
    }
    addScript({
    id: 'wang-editor-script',
      src: '../js/components/wang-editor.js',
      type: 'text/javascript',
      async: null
    });
  }
</script>