@{
  Layout = null;
}

@model string

  <link rel="stylesheet" href="~/css/components/wang-editor.css" />

  <div class="col-md-12 wang-editor" id="@Model">
    <div id="@Model-toolbar" class="wang-editor-toolbar"></div>
    <div id="@Model-editor" class="wang-editor-editor"></div>
    <textarea id="@Model-description" class="form-control wang-editor-description" name="description"></textarea>
  </div>

  <script type="text/javascript" src="~/js/components/wang-editor.js"></script>