@{
  Layout = null;
}

<script type="text/javascript" src="~/plugins/chart/chart-umd-4.0.2.min.js"></script>

<div>
  <canvas style="width:650px;" id="posts-comments-chart"></canvas>
</div>

<script src="~/js/components/charts/posts-comments-chart.js"></script>