<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  @*Inicializa o Spinner*@
  <script>startSpinner();</script>
  @*CSS*@
  <link rel="stylesheet" href="~/css/listall.css" />
  @*JavasScript*@
  <script type="text/javascript" src="~/js/custom.js"></script>
</head>

<body>
  <div class="body-content">
    <div class="page-header">
      <div class="page-title">
        <h3>Postagens</h3>
        @*<span>Good morning, John!</span>*@
      </div>
      <!-- Page Stats -->
      <ul class="page-stats">
        <li>
          <div class="summary">
            <span>New orders</span>
            <h3>17,561</h3>
          </div>
          <div id="sparkline-bar" class="graph sparkline hidden-xs">20,15,8,50,20,40,20,30,20,15,30,20,25,20</div>
          <!-- Use instead of sparkline e.g. this:
          <div class="graph circular-chart" data-percent="73">73%</div>
          -->
        </li>
        <li>
          <div class="summary">
            <span>My balance</span>
            <h3>$21,561.21</h3>
          </div>
          <div id="sparkline-bar2" class="graph sparkline hidden-xs">20,15,8,50,20,40,20,30,20,15,30,20,25,20</div>
        </li>
      </ul>
      <!-- /Page Stats -->
    </div>
    @*Modal de confirmação para apagar uma psotagem*@
    <div data-backdrop="true" id="confirm-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title"><h5>Apagar a postagem?</h5></div>
          </div>
          <div class="modal-body">
            Se houver quaisquer arquivos associados à postagem, eles também serão excluídos
          </div>
          <div class="modal-footer">
            <button id="confirm-delete" type="button" class="btn btn-success">Sim</button>
            <button id="cancel-delete" type="button" class="btn btn-danger">Não</button>
          </div>
        </div>
      </div>
    </div>
    @*Modal de restrição ao tentar apagar uma postagem de outra pessoa*@
    <div data-backdrop="true" id="restrict-delete-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title"><h5>Operação não suportada!</h5></div>
          </div>
          <div class="modal-body">
            Não é possível apagar uma postagem que não seja sua
          </div>
        </div>
      </div>
    </div>
    @*Modal de restrição ao tentar editar uma postagem de outra pessoa*@
    <div data-backdrop="true" id="restrict-edit-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title"><h5>Operação não suportada!</h5></div>
          </div>
          <div class="modal-body">
            Não é possível editar uma postagem que não seja sua
          </div>
        </div>
      </div>
    </div>
    <table id="post-grid" class="table table-condensed table-hover table-striped">
      <thead>
        <tr>
          @*<th data-column-id="id" data-width="4%" data-formatter="id">Id</th>*@
          <th data-column-id="postType" data-formatter="postType">Tipo</th>
          <th data-column-id="userAccountName" data-formatter="userAccountName">Nome</th>
          <th data-column-id="departmentDescription" data-formatter="departmentDescription">Setor</th>
          <th data-column-id="subject" data-formatter="subject">Assunto</th>
          <th data-column-id="cleanDescription" data-formatter="cleanDescription">Descrição</th>
          <th data-column-id="changeDate" data-order="desc" data-formatter="changeDate">Data</th>
          <th data-column-id="action" data-formatter="action" disabled>Ações</th>
        </tr>
      </thead>
    </table>
  </div>
</body>

</html>

<script src="~/js/listall.js"></script>