@{string layout = null;}

@if (ViewBag.IsAjaxCall == false)
{
  layout = "~/Views/Shared/_Layout.cshtml";
  <script>startSpinner();</script>
}

@{
  Layout = layout;
}

<link rel="stylesheet" href="~/css/listall.css" />

@await Component.InvokeAsync("ConfirmationModal")
<div class="page-header">
  <div class="page-title">
    @if (ViewBag.FilterGrid == "allPosts")
    {
      <h3>Todas as Postagens</h3>
    }
    else if (ViewBag.FilterGrid == "unrevisedPosts")
    {
      <h3>Postagens não Revisadas</h3>
    }
    else if (ViewBag.FilterGrid == "unrevisedComments")
    {
      <h3>Comentários não Revisados</h3>
    }
    @*<span>Good morning, John!</span>*@
  </div>
  <!-- Page Stats -->
  <ul class="page-stats">
    <li>
      <div class="summary">
        <span>New orders</span>
        <h3>17,561</h3>
      </div>
      <div id="sparkline-bar" class="graph sparkline hidden-xs">20,15,8,50,20,40,20,30,20,15,30,20,25,20</div>
      <!-- Use instead of sparkline e.g. this:
      <div class="graph circular-chart" data-percent="73">73%</div>
      -->
    </li>
    <li>
      <div class="summary">
        <span>My balance</span>
        <h3>$21,561.21</h3>
      </div>
      <div id="sparkline-bar2" class="graph sparkline hidden-xs">20,15,8,50,20,40,20,30,20,15,30,20,25,20</div>
    </li>
  </ul>
  <!-- /Page Stats -->
</div>
<table id="post-grid" class="table table-condensed table-hover table-striped" data-filter-grid="@ViewBag.FilterGrid">
  <thead>
    <tr>
      <th data-column-id="postType" data-formatter="postType">Tipo</th>
      <th data-column-id="userAccountName" data-formatter="userAccountName">Nome</th>
      <th data-column-id="departmentDescription" data-formatter="departmentDescription">Setor</th>
      <th data-column-id="subject" data-formatter="subject">Assunto</th>
      <th data-column-id="cleanDescription" data-formatter="cleanDescription">Descrição</th>
      <th data-column-id="changeDate" data-order="desc" data-formatter="changeDate">Data</th>
      <th data-column-id="action" data-formatter="action" disabled>Ações</th>
    </tr>
  </thead>
</table>

<script src="~/js/listall.js"></script>
<script type="text/javascript" src="~/js/custom.js"></script>