@{List<Department> departments = ViewBag.Departments;}
@model Engeman.Intranet.Models.ViewModels.UserPermissionsViewModel
@{string layout = null;}

@if (ViewBag.IsAjaxCall == false)
{
  layout = "~/Views/Shared/_Layout.cshtml";
  <script>startSpinner();</script>
}

@{
  Layout = layout;
}

<link rel="stylesheet" href="~/css/new-post.css" />

<div class="body-content">
  @await Component.InvokeAsync("PageHeader", "Nova postagem")
  <!--=== Page Content ===-->
  <div class="row">
    <!--=== Horizontal Forms ===-->
    <div class="col-md-12">
      <div class="widget box">
        <div class="widget-header">
          <h4>
            <i class="icon-reorder"></i>
            Postagem
          </h4>
        </div>
        <div class="widget-content">
          <form class="form-horizontal row-border" id="new-post-form" method="post">
            <div class="form-group">
              <label class="col-md-2 control-label">Restrito ao setor?</label>
              <div class="col-md-10">
                @Html.CheckBox("Restricted", new { id = "restricted" })
              </div>
            </div>
            <div class="form-group departments-list">
              <label class="col-md-2 control-label">Setores<span class="required">*</span></label>
              <div class="col-md-10">
                <select id="multiselect-department" multiple="multiple" name="departmentsList">
                  @{if (departments != null)
                    {
                      for (int i = 0; i < departments.Count; i++)
                      {
                        <option value="@departments[i].Id">@departments[i].Description</option>
                      }
                    }
                  }
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label">Tipo de postagem<span class="required" for="postType">*</span></label>
              <div class="col-md-2">
                <select id="postType" class="form-control" name="postType">
                  <option value="" selected disabled hidden>Não selecionado</option>
                  @if (Model.PostType.Informative.CanPost == true)
                  {
                    <option value="I">Informativa</option>
                  }
                  @if (Model.PostType.Question.CanPost == true)
                  {
                    <option value="Q">Pergunta</option>
                  }
                  @if (Model.PostType.Manual.CanPost == true)
                  {
                    <option value="M">Manual</option>
                  }
                  @if (Model.PostType.Document.CanPost == true)
                  {
                    <option value="D">Documento</option>
                  }
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label">Assunto<span class="required">*</span></label>
              <div class="col-md-10">
                <input id="subject" class="form-control" type="text" name="subject">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label">Palavras-chave</label>
              <div class="col-md-10">
                <input id="keywords" class="form-control" type="text" name="keywords">
              </div>
            </div>
            <div class="form-group">
              <label id="description-label" class="col-md-2 control-label">Descrição<span class="required">*</span></label>
              <div class="col-md-10">
                <div id="wang-editor-div" class="col-md-12 wang-editor">
                  <div id="wang-editor-toolbar" class="wang-editor-toolbar"></div>
                  <div id="wang-editor-editor" class="wang-editor-editor"></div>
                  <textarea id="wang-editor-description" class="form-control wang-editor-description" name="description"></textarea>
                </div>
              </div>
            </div>
            <div class="form-group add-files">
              <label class="col-md-2 control-label">Adicionar Arquivo(s)<span class="required">*</span></label>
              <div class="col-md-10">
                <input id="add-files" type="file" name="addFiles" accept="application/pdf" multiple>
              </div>
            </div>
            <div class="form-actions">
              <button class="btn btn-primary pull-right" id="submit-button" type="submit">Salvar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- /Horizontal Forms -->
  </div>
  <!-- /Page Content -->
</div>

<script type="text/javascript" src="~/js/new-post.js"></script>
<script type="text/javascript" src="~/js/components/wang-editor.js"></script>
@if (ViewBag.IsAjaxCall == true)
{
  <script type="text/javascript" src="~/js/custom.js"></script>
}