@{string layout = null;}

@if (ViewBag.IsAjaxCall == false)
{
  layout = "~/Views/Shared/_Layout.cshtml";
  <script>startSpinner();</script>
}

@{
  Layout = layout;
}

<link rel="stylesheet" href="~/css/posts-grid.css" />

@await Component.InvokeAsync("ConfirmationModal")

@if (ViewBag.FilterGrid == "allPosts")
{
  @await Component.InvokeAsync("PageHeader", "Todas as postagens")
}
else if (ViewBag.FilterGrid == "unrevisedPosts")
{
  @await Component.InvokeAsync("PageHeader", "Postagens não revisadas")
}
else if (ViewBag.FilterGrid == "unrevisedComments")
{
  @await Component.InvokeAsync("PageHeader", "Comentários não revisados")
}

<table id="posts-grid" class="table table-condensed table-hover table-striped" data-filter-grid="@ViewBag.FilterGrid">
  <thead>
    <tr>
      <th data-width="5%" data-column-id="id" data-formatter="id" data-align="center" data-header-align="center" data-header-css-class="id-header">ID</th>
      <th data-width="5%" data-column-id="postType" data-formatter="postType" data-align="center" data-header-align="center" data-header-css-class="type-header">Tipo</th>
      <th data-width="15%" data-column-id="userAccountName" data-formatter="userAccountName" data-align="center" data-header-align="center" data-header-css-class="name-header">Nome</th>
      <th data-width="10%" data-column-id="department" data-formatter="department" data-align="center" data-header-align="center" data-header-css-class="department-header">Setor</th>
      <th data-width="40%" data-column-id="subject" data-formatter="subject" data-align="center" data-header-align="center" data-header-css-class="subject-header">Assunto</th>
      <th data-width="15%" data-column-id="changeDate" data-formatter="changeDate" data-align="center" data-header-align="center" data-header-css-class="data-header">Data</th>
      <th data-width="10%" data-column-id="action" data-formatter="action" data-align="center" data-header-align="center" data-header-css-class="actions-header" disabled>Ações</th>
    </tr>
  </thead>
</table>

<script src="~/js/posts-grid.js"></script>