@{string layout = null;}

@if (ViewBag.IsAjaxCall == false)
{
  layout = "~/Views/Shared/_Layout.cshtml";
  <script>startSpinner();</script>
}

@{
  Layout = layout;
}

<link rel="stylesheet" href="~/css/posts-grid.css" />

@await Component.InvokeAsync("ConfirmationModal")

@if (ViewBag.FilterGrid == "allPosts")
{
  @await Component.InvokeAsync("PageHeader", "Todas as postagens")
}
else if (ViewBag.FilterGrid == "unrevisedPosts")
{
  @await Component.InvokeAsync("PageHeader", "Postagens não revisadas")
}
else if (ViewBag.FilterGrid == "unrevisedComments")
{
  @await Component.InvokeAsync("PageHeader", "Comentários não revisados")
}

<table id="posts-grid" class="table table-condensed table-hover table-striped" data-filter-grid="@ViewBag.FilterGrid">
  <thead>
    <tr>
      <th data-column-id="postType" data-formatter="postType">Tipo</th>
      <th data-column-id="userAccountName" data-formatter="userAccountName">Nome</th>
      <th data-column-id="department" data-formatter="department">Setor</th>
      <th data-column-id="subject" data-formatter="subject">Assunto</th>
      <th data-column-id="keywords" data-formatter="keywords">Palavras-chave</th>
      <th data-column-id="changeDate" data-order="desc" data-formatter="changeDate">Data</th>
      <th data-column-id="action" data-formatter="action" disabled>Ações</th>
    </tr>
  </thead>
</table>

<script src="~/js/posts-grid.js"></script>