@{string layout = null; }

@if (ViewBag.IsAjaxCall == false)
{
  layout = "~/Views/Shared/_Layout.cshtml";
  <script>startSpinner();</script>
}

@{
  Layout = layout;
}

<link rel="stylesheet" href="~/css/logs-grid.css" />

<div class="page-header">
  <div class="page-title">
    <h3>Log de dados</h3>
    @*<span>Good morning, John!</span>*@
  </div>
  <!-- Page Stats -->
  <ul class="page-stats">
    <li>
      <div class="summary">
        <span>New orders</span>
        <h3>17,561</h3>
      </div>
      <div id="sparkline-bar" class="graph sparkline hidden-xs">20,15,8,50,20,40,20,30,20,15,30,20,25,20</div>
      <!-- Use instead of sparkline e.g. this:
      <div class="graph circular-chart" data-percent="73">73%</div>
      -->
    </li>
    <li>
      <div class="summary">
        <span>My balance</span>
        <h3>$21,561.21</h3>
      </div>
      <div id="sparkline-bar2" class="graph sparkline hidden-xs">20,15,8,50,20,40,20,30,20,15,30,20,25,20</div>
    </li>
  </ul>
  <!-- /Page Stats -->
</div>
<table id="logs-grid" class="table table-condensed table-hover table-striped">
  <thead>
    <tr>
      <th data-column-id="id" data-formatter="id">ID</th>
      <th data-column-id="username" data-formatter="username">Nome de Usuário</th>
      <th data-column-id="operation" data-formatter="operation">Operação</th>
      <th data-column-id="description" data-formatter="description">Descrição</th>
      <th data-column-id="referenceId" data-formatter="referenceId">ID de ref.</th>
      <th data-column-id="referenceTable" data-formatter="referenceTable">Tabela de ref.</th>
      <th data-column-id="changeDate" data-order="desc" data-formatter="changeDate">Data</th>
    </tr>
  </thead>
</table>

<script src="~/js/logs-grid.js"></script>
@if (ViewBag.IsAjaxCall == true)
{
  <script type="text/javascript" src="~/js/custom.js"></script>
}
