@{string layout = null; }

@if (ViewBag.IsAjaxCall == false)
{
  layout = "~/Views/Shared/_Layout.cshtml";
  <script>startSpinner();</script>
}

@{
  Layout = layout;
}

<link rel="stylesheet" href="~/css/logs-grid.css" />

@if (ViewBag.filterByUsername == null)
{
  @await Component.InvokeAsync("PageHeader", "Log de dados")
}

<table id="logs-grid" class="table table-condensed table-hover table-striped" data-username="@ViewBag.Username">
  <thead>
    <tr>
      <th data-column-id="id" data-formatter="id">ID</th>
      <th data-column-id="username" data-formatter="username">Nome de Usuário</th>
      <th data-column-id="operation" data-formatter="operation">Operação</th>
      <th data-column-id="description" data-formatter="description">Descrição</th>
      <th data-column-id="referenceId" data-formatter="referenceId">ID de ref.</th>
      <th data-column-id="referenceTable" data-formatter="referenceTable">Tabela de ref.</th>
      <th data-column-id="changeDate" data-order="desc" data-formatter="changeDate">Data</th>
    </tr>
  </thead>
</table>

<script src="~/js/logs-grid.js"></script>