@{string layout = null; }

@if (ViewBag.IsAjaxCall == false)
{
  layout = "~/Views/Shared/_Layout.cshtml";
  <script>startSpinner();</script>
}

@{
  Layout = layout;
}

<link rel="stylesheet" href="~/css/logs-grid.css" />

@if (ViewBag.filterByUsername == null)
{
  @await Component.InvokeAsync("PageHeader", "Log de dados")
}

<table id="logs-grid" class="table table-condensed table-hover table-striped" data-username="@ViewBag.Username">
  <thead>
    <tr>
      <th data-width="5%" data-column-id="id" data-formatter="id" data-align="center" data-header-align="center" data-header-css-class="id-header">ID</th>
      <th data-width="15%" data-column-id="operation" data-formatter="operation" data-align="center" data-header-align="center" data-header-css-class="operation-header">Operação</th>
      <th data-width="20%" data-column-id="registryType" data-formatter="registryType" data-align="center" data-header-align="center" data-header-css-class="registry-type-header">Tipo de Registro</th>
      <th data-width="15%" data-column-id="registryId" data-formatter="registryId" data-align="center" data-header-align="center" data-header-css-class="registry-id-header">ID do Registro</th>
      <th data-width="15%" data-column-id="registryTable" data-formatter="registryTable" data-align="center" data-header-align="center" data-header-css-class="registry-table-header">Tabela do Registro</th>
      <th data-width="15%" data-column-id="username" data-formatter="username" data-align="center" data-header-align="center" data-header-css-class="username-header">Nome de Usuário</th>
      <th data-width="15%" data-column-id="changeDate" data-order="desc" data-formatter="changeDate" data-align="center" data-header-align="center" data-header-css-class="change-date-header">Data</th>
    </tr>
  </thead>
</table>

<script src="~/js/logs-grid.js"></script>