@{
  Layout = null;
}

<link rel="stylesheet" href="~/css/components/alert-modal.css" />

<div id="alert-modal" data-backdrop="true" class="alert-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      @if (ViewBag.Title != null || ViewBag.Body != null)
      {
        <div class="modal-header"><h5>@ViewBag.Title</h5></div>
        <div class="modal-body"><p>@ViewBag.Body</p></div>
      }
      else
      {
        <div class="modal-header"></div>
        <div class="modal-body"></div>
      }
    </div>
  </div>
</div>

<script type="text/javascript" src="~/js/components/alert-modal.js"></script>